
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>Chi tiết</h2>


<body>
    <!--  Free CSS Templates from www.templatemo.com -->

        <div id="templatemo_content">

            <div id="templatemo_content_left">
                <div class="templatemo_content_left_section">
                    <!--<h1>--><!--Danh sách tác giả--><!--</h1>-->
                    <ul>
                        <li><a href="#">Xem tất cả</a></li>
                        <li><a href="#">Tác giả 1</a></li>
                        <li><a href="#">Tác giả 2</a></li>
                        <li><a href="#">Tác giả 3</a></li>
                        <li><a href="#">Tác giả 4</a></li>
                        <li><a href="#">Tác giả 5</a></li>
                        <li><a href="#">Tác giả 6</a></li>
                        <li><a href="#">Tác giả 7</a></li>
                        <li><a href="#">Tác giả 8</a></li>
                        <li><a href="#">Tác giả 9</a></li>
                    </ul>
                </div>
                <div class="templatemo_content_left_section">
                    <h1>Thông tin tác giả</h1>

                    <div align="center">
                        <img src="~/wwwroot/images/tacgia1.jpg" alt="CSS Template" width="150" height="150" />&nbsp;&nbsp;
                    </div>
                    <ul align="center">
                        <li>Tên tác giả: Tác giả 1</li>
                        <li> Ngày sinh: 25-07-1989</li>
                        <li> Quê quán: Thái Bình </li>
                        &nbsp;&nbsp;
                    </ul>
                    </div>

                </div> <!-- end of content left -->

                <div id="templatemo_content_right">

                    <h1>Sách thiếu nhi <span>(Tác giả 1)</span></h1>
                    <div class="image_panel"><img src="~/wwwroot/images/anh1.jpg" alt="CSS Template" width="100" height="150" /></div>
                    <h2>TẬP VIẾT TIẾNG ANH LỚP 2 (THEO CHƯƠNG TRÌNH GIÁO DỤC PHỔ THÔNG MỚI)</h2>
                    <ul>
                        <li><a href="subpage.html">Tác giả 1 </a></li>
                        <li>21.000đ</li>
                        <li>Số trang: 60</li>
                        <li>Chưa Có Đánh Giá | 210 Đã Bán</li>
                    </ul>

                    <p>Tập Viết Tiếng Anh Lớp 2 (Theo Chương Trình Giáo Dục Phổ Thông Mới) - Là cuốn sách giúp bé tập viết từ vựng một cách hiệu quả và tốt nhất. Đồng thời, giúp bé viết cụm từ và mẫu câu tiếng anh.</p>

                    <p>
                        THÔNG TIN & KHUYẾN MÃI
                    </p>
                    <p>Nhập mã NS15 giảm ngay 15K  đơn từ 149.000 VNĐ</p>
                    <p>
                        (Áp dụng từ 6/10-31/10)
                    </p>
                    <p> Freeship ĐH TP.HCM  trên 150.000 VNĐ, Toàn Quốc 250.000 VNĐ</p>

                    <p>✅ Được kiểm tra hàng và Thanh toán khi nhận hàng.</p>
                    <p> ✅ Giao hàng trên Toàn Quốc</p>
                    <p>✅ Đặt online hoặc gọi ngay 0909.354.135</p>
                    <p>
                        ✅ Chiết khấu cao cho các đại lý và khách đặt sỉ
                    </p>
                    <div class="cleaner_with_height">&nbsp;</div>



                </div> <!-- end of content right -->

                <div class="cleaner_with_height">&nbsp;</div>
            </div> <!-- end of content -->

