
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div id="templatemo_content">

    <div id="templatemo_content_left">
        <div class="templatemo_content_left_section">
            <h1>Sách bán chạy nhất </h1>
            <div align="center">
                <a href="#"><img src="~/wwwroot/images/donggiao.jpg" width=195 height=250 /></a>
            </div>
            <h1></h1>
            <div align="center">
                <a href="#"><img src="~/wwwroot/images/hot1.gif" width=195 height=250 /></a>
            </div>

        </div>

    </div> <!-- end of content left -->

    <div id="templatemo_content_right">
        <div class="templatemo_product_box">
            <h1>Tác giả 1  <span>(Sách thiếu nhi)</span></h1>

            <img src="~/wwwroot/images/anh1.jpg" alt="image" width=100 />
            <div class="product_info">
                <p>TẬP VIẾT TIẾNG ANH LỚP 2 (THEO CHƯƠNG TRÌNH GIÁO DỤC PHỔ THÔNG MỚI)</p>
                <h3>21.000đ</h3>
                <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                <div class="detail_button">@Html.ActionLink("CHi tiết", "Detail", "Home")</div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>

        <div class="templatemo_product_box">
            <h1>Tác giả 2  <span>(Sách kĩ năng sống)</span></h1>

            <img src="~/wwwroot/images/sach-tao-lap-moi-truong-song-dinh-hinh-nhan-cach-vi-thanh-nien-tap-2.jpg" alt="image" width=100 />
            <div class="product_info">
                <p>TẠO LẬP MÔI TRƯỜNG SỐNG ĐỊNH HÌNH NHÂN CÁCH VỊ THÀNH NIÊN - TẬP 2.</p>
                <h3>65.600đ</h3>
                <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                <div class="detail_button"><a href="#">Chi tiết</a></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_height">&nbsp;</div>

        <div class="templatemo_product_box">
            <h1>Tác giả 3 <span>(Văn học)</span></h1>

            <img src="~/wwwroot/images/sach-truyen-kieu-van-hoc-viet-nam-the-ky-xix.jpg" alt="image" width=100 />
            <div class="product_info">
                <p>TRUYỆN KIỀU - VĂN HỌC VIỆT NAM THẾ KỶ XIX</p>
                <h3>33.600đ</h3>
                <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                <div class="detail_button"><a href="#">Chi tiết</a></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>

        <div class="templatemo_product_box">
            <h1>Tác giả 4 <span>(Sách mới)</span></h1>

            <img src="~/wwwroot/images/photo-essay-hau-due-mat-troi-tang-kem-6-postcard-co-chu-ki-va-1-poster-anh.jpg" alt="image" width=100 />
            <div class="product_info">
                <p>PHOTO ESSAY "HẬU DUỆ MẶT TRỜI” (TẶNG KÈM 6 POSCARD CÓ CHỮ KÍ VÀ 1 POSTER ẢNH. </p>
                <h3>219.000đ</h3>
                <div class="buy_now_button"><a href="subpage.html">Mua ngay</a></div>
                <div class="detail_button"><a href="subpage.html">Chi tiết</a></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_height">&nbsp;</div>

        <a href="subpage.html"><img src="~/wwwroot/images/templatemo_ads.png" alt="ads" width=688 /></a>
    </div> <!-- end of content right -->

    <div class="cleaner_with_height">&nbsp;</div>
</div>