
@{
    ViewBag.Title = "Tacgia1";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>Tac gia 1</h2>

    
    

        <div id="templatemo_content">

            <div id="templatemo_content_left">
                <div class="templatemo_content_left_section">
                    <h1>Danh mục tác giả</h1>
                    <ul>
                        <li><a href="xemtat.html">Xem tất cả</a></li>
                        <li><a href="subpage.html">Tác giả 1</a></li>
                        <li><a href="subpage.html">Tác giả 2</a></li>
                        <li><a href="#">Tác giả 3</a></li>
                        <li><a href="#">Tác giả 4</a></li>
                        <li><a href="#">Tác giả 5</a></li>
                        <li><a href="#">Tác giả 6</a></li>
                        <li><a href="#">Tác giả 7</a></li>
                        <li><a href="#">Tác giả 8</a></li>
                        <li><a href="#">Tác giả 9</a></li>
                    </ul>
                </div>
                <div class="templatemo_content_left_section">
                    <h1>Thông tin tác giả</h1>

                    <div align="center">
                        <img src="~/wwwroot/images/tacgia1.jpg" alt="CSS Template" width="150" height="150" />&nbsp;&nbsp;
                    </div>
                    <ul align="center">
                        <li>Tên tác giả: Tác giả 1</li>
                        <li> Ngày sinh: 25-07-1989</li>
                        <li> Quê quán: Thái Bình </li>
                        &nbsp;&nbsp;
                    </ul>

                </div>

            </div> <!-- end of content left -->

            <div id="templatemo_content_right">

                <div class="templatemo_product_box">

                    <h1>Thể loại  <span>- Sách thiếu nhi</span></h1>

                    <img src="~/wwwroot/images/anh1.jpg" alt="image" width=100 />
                    <div class="product_info">
                        <p>TẬP VIẾT TIẾNG ANH LỚP 2 (THEO CHƯƠNG TRÌNH GIÁO DỤC PHỔ THÔNG MỚI)</p>
                        <h3>21.000đ</h3>
                        <div class="buy_now_button"><a href="subpage.html">Mua ngay</a></div>
                        <div class="detail_button">@Html.ActionLink("Chi tiết", "Detail", "Home")</div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>

                <div class="cleaner_with_width">&nbsp;</div>

                <div class="templatemo_product_box">
                    <h1>Thể loại  <span>- Truyện ngụ ngôn</span></h1>

                    <img src="~/wwwroot/images/gau_ong.jpg" alt="image" width=100 />
                    <div class="product_info">
                        <p>HỌC TOÁN QUA TRUYỆN NGỤ NGÔN - GẤU VÀ ĐÀN ONG</p>
                        <h3>18.000đ</h3>
                        <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                        <div class="detail_button"><a href="#">Chi tiết</a></div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>

                <div class="cleaner_with_height">&nbsp;</div>

                <div class="templatemo_product_box">
                    <h1>Thể loại<span>- Truyện ngụ ngôn</span></h1>

                    <img src="~/wwwroot/images/giokhoai.jpg" alt="image" width=100 />
                    <div class="product_info">
                        <p>HỌC TOÁN QUA TRUYỆN NGỤ NGÔN - GIỎ KHOAI</p>
                        <h3>18.00đ</h3>
                        <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                        <div class="detail_button"><a href="#">Chi tiết</a></div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>

                <div class="cleaner_with_width">&nbsp;</div>

                <div class="templatemo_product_box">
                    <h1>Thể loại <span>- Truyện ngụ ngôn</span></h1>

                    <img src="~/wwwroot/images/concao.jpg" alt="image" width=100 />
                    <div class="product_info">
                        <p>HỌC TOÁN QUA TRUYỆN NGỤ NGÔN - CON CÁO ẢO TƯỞNG </p>
                        <h3>18.000đ</h3>
                        <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                        <div class="detail_button"><a href="#">Chi tiết</a></div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>

                <div class="cleaner_with_height">&nbsp;</div>

                
            </div>
            </div>
  

    <!-- end of content right -->



