
@{
    ViewBag.Title = "Tacgia";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<div class="loader">
    <span class="fas fa-spinner xoay icon"></span>
</div>
<div id="templatemo_content">

    <div id="templatemo_content_left">
        <div class="templatemo_content_left_section">
            <h1>Danh mục tác giả</h1>
            <ul>
                <li><a href="#">Xem tất cả</a></li>
                <li>@Html.ActionLink("Tác giả 1", "Tacgia1", "Home")</li>
                <li>@Html.ActionLink("Tác giả 2", "Tacgia1", "Home")</li>
                <li>@Html.ActionLink("Tác giả 3", "Tacgia1", "Home")</li>
                <li><a href="#">Tác giả 4</a></li>
                <li><a href="#">Tác giả 5</a></li>
                <li><a href="#">Tác giả 6</a></li>
                <li><a href="#">Tác giả 7</a></li>
                <li><a href="#">Tác giả 8</a></li>
                <li><a href="#">Tác giả 9</a></li>
            </ul>
        </div>
        <div class="templatemo_content_left_section">
            <h2>Tác giả tiêu biểu</h2>

            <img src="~/wwwroot/images/tacgia1.jpg" width="150" />
            <br /><h3></h3>
            <img src="~/wwwroot/images/tacgia1.jpg" width="150" />


        </div>

    </div> <!-- end of content left -->

    <div id="templatemo_content_right">

        <div class="templatemo_product_box">

            <h1>Tác giả 1  <span>- Sách thiếu nhi</span></h1>

            <img src="~/wwwroot/images/anh1.jpg" alt="image" width=100 />
            <div class="product_info">
                <p>TẬP VIẾT TIẾNG ANH LỚP 2 (THEO CHƯƠNG TRÌNH GIÁO DỤC PHỔ THÔNG MỚI)</p>
                <h3>21.000đ</h3>
                <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                <div class="detail_button">@Html.ActionLink("CHi tiết", "Detail", "Home")</div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>

        <div class="templatemo_product_box">
            <h1>Tác gải 4  <span>- Sách kĩ năng sống</span></h1>

            <img src="~/wwwroot/images/sach-tao-lap-moi-truong-song-dinh-hinh-nhan-cach-vi-thanh-nien-tap-2.jpg" alt="image" width=100 />
            <div class="product_info">
                <p>TẠO LẬP MÔI TRƯỜNG SỐNG ĐỊNH HÌNH NHÂN CÁCH VỊ THÀNH NIÊN - TẬP 2.</p>
                <h3>65.600đ</h3>
                <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                <div class="detail_button"><a href="#">Chi tiết</a></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_height">&nbsp;</div>


        <div class="templatemo_product_box">
            <h1>Tác giả 3<span>- Văn học</span></h1>

            <img src="~/wwwroot/images/sach-truyen-kieu-van-hoc-viet-nam-the-ky-xix.jpg" alt="image" width=100 />
            <div class="product_info">
                <p>TRUYỆN KIỀU - VĂN HỌC VIỆT NAM THẾ KỶ XIX</p>
                <h3>33.600đ</h3>
                <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                <div class="detail_button"><a href="#">Chi tiết</a></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>

        <div class="templatemo_product_box">
            <h1>Tác giả 2 <span>- Sách mới</span></h1>

            <img src="~/wwwroot/images/photo-essay-hau-due-mat-troi-tang-kem-6-postcard-co-chu-ki-va-1-poster-anh.jpg" alt="image" width=100 />
            <div class="product_info">
                <p>HẬU DUỆ MẶT TRỜI </p>
                <h3>219.000đ</h3>
                <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                <div class="detail_button"><a href="#">Chi tiết</a></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_height">&nbsp;</div>
        <div class="templatemo_product_box">

            <h1>Tác giả 1  <span>- Sách thiếu nhi</span></h1>

            <img src="~/wwwroot/images/sachthieunhi.jpg" alt="image" width=100 />
            <div class="product_info">
                <p>TỪ ĐIỂN BẰNG TRANH - PHƯƠNG TIỆN GIAO THÔNG</p>
                <h3>69.520đ</h3>
                <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                <div class="detail_button"><a href="#">Chi tiết</a></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        <div class="cleaner_with_width">&nbsp;</div>

        <div class="templatemo_product_box">
            <h1>Tác giả 2  <span>- Sách kĩ năng sống</span></h1>

            <img src="~/wwwroot/images/kinang.jpg" alt="image" width=100 />
            <div class="product_info">
                <p>ĐẠI BÀNG CÓ KHI BAY THẤP HƠN GÀ.</p>
                <h3>46.980đ</h3>
                <div class="buy_now_button"><a href="#">Mua ngay</a></div>
                <div class="detail_button"><a href="#">Chi tiết</a></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
    </div>
</div>